.error-message {
  color: #e72c2c;
  font-family: Pretendard;
  font-size: 15px;
}
[class^='err-'] {
  color: #e72c2c;
  font-family: Pretendard;
  font-size: 15px;
  margin-top: 4px;
  display: none;
}
.title-page {
  font-family: PretendardBold !important;
  font-size: 1.3rem;
  color: #565c66;
}
#btn-main {
  padding: 7px 15px;
  border-radius: 15px;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  border-width: 0.13em;
  outline: auto;
  cursor: pointer;

  &:disabled {
    opacity: 0.5; 
    cursor: not-allowed;
    background-color: #f0f0f0;
    color: #aaa;
  }
}
.btn-main-lg {
  @extend #btn-main;
  font-size: medium;
  min-width: 200px;
  min-height: 40px;
  background-color: $main-color;
  border-color: $main-color;
  color: #ffffff;
  &:hover {
    background-color: $main-color-hover;
  }
}
.btn-main {
  @extend #btn-main;
  background-color: $main-color;
  border-color: $main-color;
  color: #ffffff;
  &:hover {
    background-color: $main-color-hover;
  }
}

.btn-main-image {
  @extend #btn-main;
  background-color: #59ac77;
  border-color: #59ac77;
  color: #ffffff;
  &:hover {
    background-color: #59ac77;
  }
}
.btn-main-audio {
  @extend #btn-main;
  background-color: #279eff;
  border-color: #279eff;
  color: #ffffff;
  &:hover {
    background-color: #279eff;
  }
}

.btn-main-video {
  @extend #btn-main;
  background-color: #f75270;
  border-color: #f75270;
  color: #ffffff;
  &:hover {
    background-color: #f75270;
  }
}

.btn-main-out {
  @extend #btn-main;
  background-color: #ffffff;
  border-color: #ffffff;
  color: $main-color;
  &:hover {
    background-color: $main-color;
    color: #ffffff;
  }
}

.btn-err {
  @extend #btn-main;
  background-color: $err-color;
  border-color: $err-color;
  color: #ffffff;
  &:hover {
    background-color: $err-color-hover;
  }
}

.btn-err-out {
  @extend #btn-main;
  background-color: #ffffff;
  border-color: #ffffff;
  color: $err-color;
  &:hover {
    background-color: $err-color;
    color: #ffffff;
  }
}

.txt-status-waiting {
  color: #ffc50f;
}
.txt-status-answered,
.txt-status-approved,
.txt-free,
.txt-ok {
  color: #59ac77;
}
.txt-status-cancel,
.txt-pay,
.txt-not-ok {
  color: #f75270;
}
