.common-modal {
  .modal-content {
    padding: 10px 30px;
    border-radius: 24px;
    .modal-header {
      padding-left: 0px;
      padding-right: 0px;
      display: flex;
      justify-content: space-between;
      .modal-header-title {
        font-family: 'PretendardBold';
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        color: #505050;
      }
      .close {
        padding: 0px;
        svg {
          width: 22px;
        }
      }
    }
    .modal-title {
      font-family: 'PretendardBold';
      font-weight: 700;
      font-size: 22px;
      line-height: 32px;
      color: #505050;
    }
    .modal-body {
      padding-left: 0px;
      padding-right: 0px;
      max-height: 650px;
      overflow-y: auto;
      overflow-x: hidden;
      p,
      label,
      span {
        font-family: Pretendard !important;
      }
    }
    .modal-footer {
      justify-content: center !important;
    }
  }
}
