.common-editor {
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  background: white;
  padding: 20px 20px 0 20px;
  border-radius: 0.25rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  #editor {
    height: 85%;
    margin-bottom: 10px;
  }
}

.ql-video{
  max-width: 20em !important;
}