.common-table-container {
  .table {
    border: 1px solid #dee2e6;
    border-radius: 15px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    .table-dark {
      --bs-table-bg: #121927b3 !important;
      tr {
        th {
          font-family: 'Pretendard';
          font-size: 14px;
          line-height: 20px;
          color: #ffffff;
          font-weight: 300;
          border: none;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
    tr:nth-of-type(odd) {
      td {
        --bs-table-bg-type: #ffffff !important;
        color: #212529;
      }
    }
    tr:nth-of-type(even) {
      td {
        --bs-table-bg-type: #ffffff !important;
        color: #212529;
      }
    }
    tr {
      td {
        border-left: none;
        border-right: none;
        font-family: 'Pretendard';
        font-weight: 100;
        font-size: 17px;
        line-height: 20px;
        vertical-align: middle;
        text-align: center;
        height: 70px !important;

      }
    }
  }
}
