// error
.error-message {
  color: #e72c2c;
  font-family: Pretendard;
  font-size: 15px;
}
[class^='err-'] {
  color: #e72c2c;
  font-family: Pretendard;
  font-size: 15px;
  margin-top: 4px;
  display: none;
}
.title-page {
  font-family: PretendardBold !important;
  font-size: 1.3rem;
  color: #565c66;
}
//button
#btn {
  padding: 7px 15px;
  border-radius: 15px;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  border-width: 0.13em;
  outline: auto;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #f0f0f0;
    color: #aaa;
  }
}
.btn-closed {
  @extend #btn;
  min-width: 125px;
  background-color: rgb(160, 160, 160);
  border-color: rgb(160, 160, 160);
  color: #ffffff;
  &:hover {
    background-color: gray
  }
}

.btn-submit {
  @extend #btn;
  min-width: 125px;
  background-color: $main-color;
  border-color: $main-color;
  color: #ffffff;
  &:hover {
    background-color: $main-color-hover;
  }
}
.btn-submit-lg {
  @extend #btn;
  font-size: medium;
  min-width: 175px;
  min-height: 40px;
  background-color: $main-color;
  border-color: $main-color;
  color: #ffffff;
  &:hover {
    background-color: $main-color-hover;
  }
}

.btn-sub {
  @extend #btn;
  background-color: #5C636A;
  border-color: #5C636A;
  color: #ffffff;
  &:hover {
    background-color: #484e53;
  }
}
.btn-info {
  @extend #btn;
  background-color: $main-color;
  border-color: $main-color;
  color: #ffffff;
  &:hover {
    background-color: $main-color-hover;
  }
}

.btn-info-image {
  @extend #btn;
  background-color: #59ac77;
  border-color: #59ac77;
  color: #ffffff;
  &:hover {
    background-color: #59ac77;
  }
}
.btn-info-audio {
  @extend #btn;
  background-color: #279eff;
  border-color: #279eff;
  color: #ffffff;
  &:hover {
    background-color: #279eff;
  }
}

.btn-info-video {
  @extend #btn;
  background-color: #f75270;
  border-color: #f75270;
  color: #ffffff;
  &:hover {
    background-color: #f75270;
  }
}

.btn-info-out {
  @extend #btn;
  background-color: #ffffff;
  border-color: #ffffff;
  color: $main-color;
  &:hover {
    background-color: $main-color;
    color: #ffffff;
  }
}


.btn-add {
  @extend #btn;
  background-color: #59ac77;
  border-color: #59ac77;
  color: #ffffff;
  &:hover {
    background-color: #4f976a;
  }
}

.btn-add-out {
  @extend #btn;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #59ac77;
  &:hover {
    background-color: #4f976a;
    color: #ffffff;
  }
}


.btn-edit {
  @extend #btn;
  background-color: #ff7e29;
  border-color: #ff7e29;
  color: #ffffff;
  &:hover {
    background-color: #fd7215;
  }
}

.btn-edit-out {
  @extend #btn;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ff7e29;
  &:hover {
    background-color: #fd7215;
    color: #ffffff;
  }
}


.btn-error {
  @extend #btn;
  background-color: $err-color;
  border-color: $err-color;
  color: #ffffff;
  &:hover {
    background-color: $err-color-hover;
  }
}

.btn-error-out {
  @extend #btn;
  background-color: #ffffff;
  border-color: #ffffff;
  color: $err-color;
  &:hover {
    background-color: $err-color;
    color: #ffffff;
  }
}

.txt-status-waiting {
  color: #ffc50f;
}
.txt-status-answered,
.txt-status-approved,
.txt-free,
.txt-ok {
  color: #59ac77;
}
.txt-status-cancel,
.txt-status-refuse,
.txt-pay,
.txt-not-ok {
  color: #f75270;
}
.txt-error{
    color: #f75270;
}