.error-message {
  color: #e72c2c;
  font-family: Pretendard;
  font-size: 15px;
}
[class^='err-'] {
  color: #e72c2c;
  font-family: Pretendard;
  font-size: 15px;
  margin-top: 4px;
  display: none;
}
.title-page {
  font-family: PretendardBold !important;
  font-size: 1.3rem;
  color: #565C66;
}
#btn-common {
  padding: 7px 15px;
  border-radius: 15px;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  border-width: 0.13em;
  outline: auto;
}
.btn-common {
  @extend #btn-common;
  background-color: $main-color;
  border-color: $main-color;
  color: #ffffff;
  &:hover {
    background-color: $main-color-hover;
  }
}

.btn-common-image {
  @extend #btn-common;
  background-color: #59ac77;
  border-color: #59ac77;
  color: #ffffff;
  &:hover {
    background-color: #59ac77;
  }
}
.btn-common-audio {
  @extend #btn-common;
  background-color: #279eff;
  border-color: #279eff;
  color: #ffffff;
  &:hover {
    background-color: #279eff;
  }
}

.btn-common-video {
  @extend #btn-common;
  background-color: #f75270;
  border-color: #f75270;
  color: #ffffff;
  &:hover {
    background-color: #f75270;
  }
}

.btn-common-out {
  @extend #btn-common;
  background-color: #ffffff;
  border-color: #ffffff;
  color: $main-color;
  &:hover {
    background-color: $main-color;
    color: #ffffff;
  }
}

.btn-err {
  @extend #btn-common;
  background-color: $err-color;
  border-color: $err-color;
  color: #ffffff;
  &:hover {
    background-color: $err-color-hover;
  }
}

.btn-out-err {
  @extend #btn-common;
  background-color: #ffffff;
  border-color: #ffffff;
  color: $err-color;
  &:hover {
    background-color: $err-color;
    color: #ffffff;
  }
}



.txt-status-waiting {
  color: #ffc50f;
}
.txt-status-approved, .txt-free {
  color: #59ac77;
}
.txt-status-cancel, .txt-pay {
  color: #f75270;
}
