.component-editor {
  height: 75vh;
  width: 100%;
  margin: 0 auto;
  background: white;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  .ql-container {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
  }
  .ql-toolbar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .ql-lineheight-1 {
    line-height: 1;
  }
  .ql-lineheight-15 {
    line-height: 1.5;
  }
  .ql-lineheight-18 {
    line-height: 2;
  }
  .ql-lineheight-2 {
    line-height: 2.5;
  }
  .ql-lineheight-25 {
    line-height: 3;
  }
  .ql-picker.ql-lineheight .ql-picker-item[data-value='1']::before {
    content: '1x';
  }
  .ql-picker.ql-lineheight .ql-picker-item[data-value='1.5']::before {
    content: '1.5x';
  }
  .ql-picker.ql-lineheight .ql-picker-item[data-value='2']::before {
    content: '2x';
  }
  .ql-picker.ql-lineheight .ql-picker-item[data-value='2.5']::before {
    content: '2.5x';
  }
  .ql-picker.ql-lineheight .ql-picker-item[data-value='3']::before {
    content: '3x';
  }

  #editor {
    height: 85%;
    margin-bottom: 10px;
  }
  .ql-insertHTML {
    margin-top: -10px;
  }
  .html-editor {
    width: 100%;
    height: 85%;
    font-family: monospace;
    font-size: 14px;
    padding: 12px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    resize: vertical;
    margin-bottom: 5px;
  }
}
