

@font-face {
    font-family: "Pretendard";
    src:
        local("Pretendard-Regular"),
        url("/fonts/Pretendard-Regular.otf") format("truetype");
}
@font-face {
    font-family: "PretendardMedium";
    src:
        local("Pretendard-Medium"),
        url("/fonts/Pretendard-Medium.otf") format("truetype");
}
@font-face {
    font-family: "PretendardBold";
    src:
        local("Pretendard-Bold"),
        url("/fonts/Pretendard-Bold.otf") format("truetype");
}

@font-face {
    font-family: "PretendardSemiBold";
    src:
        local("Pretendard-SemiBold"),
        url("/fonts/Pretendard-SemiBold.otf") format("truetype");
}

@font-face {
    font-family: "PretendardExtraBold";
    src:
        local("Pretendard-ExtraBold"),
        url("/fonts/Pretendard-ExtraBold.otf") format("truetype");
}

