#page-home-submit {
  a {
    text-decoration: none;
  }
}
.home-submit-update-modal {
  img {
    width: 250px;
    border-radius: 15px;
  }
  .homeName{
    font-size: 18px !important;
    font-weight: 600;
  }
}
