.doctor-update-modal {
  #doctorFiles-images,
  #doctorFiles-videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .file-item {
    display: inline-block;
    img {
      width: 200px;
      min-height: 150px;
      border-radius: 5px;
    }
    video {
      width: 250px;
      height: 150px;
      border-radius: 5px;
    }
  }
}
#page-doctor {
  .note {
    max-width: 400px;
  }
}
