#page-todo-box-tasks {
  .box-tall {
    min-height: 180px;
  }

  .card-badge {
    position: absolute;
    top: -8px;
    left: -8px;
    background: #565c66;
    color: #fff;
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 8px;
    z-index: 2;
  }
  .card-box {
    position: relative;
    overflow: visible;
  }

  .select-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
