#page-todo-tasks {
  .card-title {
    font-family: PretendardBold !important;
    font-size: 1.2rem;
    color: #565c66;
  }
  .card-badge {
    position: absolute;
    top: -8px;
    left: -8px;
    background: #565C66;
    color: #fff;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 8px;
    z-index: 2;
  }
  .card-box {
    position: relative;
    overflow: visible;
  }
}
