#page-blog-mutation {
  .bottom-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom-swtich {
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  .preview {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    .if-video {
      width: 30em !important;
      min-height: 230px;
    }

    .chat-box {
      overflow-y: auto;
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .message {
      display: flex;
      margin-bottom: 16px;
    }

    .bot {
      justify-content: flex-start;
    }

    .bubble {
      max-width: 100%;
      padding: 12px 16px;
      border-radius: 18px;
      font-size: 14px;
      line-height: 1.5;
      position: relative;

      img {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }

    .bot .bubble {
      background-color: #ffffff;
      color: #333;
      border-bottom-left-radius: 4px;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
    }
    .input-container {
      margin-top: 16px;
      flex-shrink: 0;
    }
  }
}
