#page-blockchain {
    .btn-deposit {
        @extend #btn;
        min-width: 125px;
        background-color:#8247e5;
        border-color:#8247e5;
        color: #ffffff;
        &:hover {
            background-color: #6b35c5;
        }
    }

    .wallet-card {
        padding:10px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

        .wallet-title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
            color: #333;
        }
        .wallet-info {
            padding: 10px 0;

            .info-group {
                margin-bottom: 15px;
                font-size: 16px;

                label {
                    font-weight: 600;
                    margin-right: 10px;
                    color: #555;
                    min-width: 200px;
                    display: inline-block;
                }

                span {
                    font-family: monospace;
                    font-size: 16px;
                    color: #333;
                    word-break: break-all;
                }
                
                .text-muted {
                    color: #999;
                    font-style: italic;
                    font-family: inherit;
                }
            }
        }
    }
}
