.page-qrcode-update {
  .card {
    border-radius: 15px;
    transition: all 0.3s ease;
  }
  
  .card-header {
    font-family: 'PretendardBold';
  }

  h5, h6 {
    color: #565c66 !important;
  }
}

