#page-home-sale {
  .home-img {
    width: 150px;
    height: 120px;
    border-radius: 15px;
    object-fit: contain;
    border: 1px solid #ccc;
  }
}

.page-home-sale-mutaion {
  #editor {
    height: 30vh;
  }
  .file-label {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  .file-button {
    background: #59ac77;
    color: white;
    border-radius: 15px;
    padding: 7px 15px;
    font-weight: 500;
    transition: all 0.3s ease;
    text-align: center;
  }

  .file-button:hover {
    background: #4a9164;
  }

  .image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
  }
  .image-preview {
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  .image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
  }
  .delete-btn:hover {
    background-color: rgba(255, 0, 0, 0.9);
  }
}

#page-home-sale-sightseeing {
  a {
    text-decoration: none;
  }
}
.home-sightseeing-update-modal {
  img {
    width: 250px;
    border-radius: 15px;
  }
  .homeName {
    font-size: 18px !important;
    font-weight: 600;
  }
}
