.user-home-list-modal {
  .home-item {
    border: 1px solid #ddd;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 15px;
  }

  .home-row {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
  }

  .home-img img {
    width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid #ccc;
  }

  .home-info {
    flex-grow: 1;
  }

  .home-info h5 {
    margin: 0 0 6px 0;
    font-weight: 400;
  }

  .home-info p {
    margin: 2px 0;
  }

  .home-actions {
    display: flex;
    align-items: center;
    button{
      margin-right: 2vw;
    }
  }


}
