p {
  margin-bottom: 0 !important;
}
label, p, span, a, li, td {
  font-family: 'Pretendard' !important;
}
b{
  font-weight: 600 !important;
}
textarea,
input,
select {
  border-radius: 15px !important;
}

.card {
  border-color: #e1e0e080 !important;
  border-radius: 15px !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
}
