.vertical-menu {
  width: $sidebar-width;
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  padding-top: 20px;
  padding-left: $navbar-brand-margin-left;
  background: $sidebar-bg;
  z-index: 1001;
  box-shadow: 0px 2px 16px 0px #0000000f;

  [data-simplebar] {
    height: 100%;
  }

  #sidebar-menu {
    padding: 10px 0 30px 0;

    .menu-title {
      padding: 12px 20px;
      font-size: 11px;
      font-weight: $font-weight-semibold;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: $sidebar-menu-item-icon-color;
      pointer-events: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $sidebar-menu-item-color;
          font-size: 17px;
          font-family: 'Pretendard';
          transition: all 0.4s;
          border-radius: 6px;
          padding: 8px 12px;

          svg.my-icon,
          i {
            width: 24px;
            height: 24px;
            min-width: 1.75rem;
            margin-right: 10px;
            color: $sidebar-menu-item-icon-color;
            transition: all 0.4s;
            // fill: $sidebar-menu-item-icon-color;
            stroke: $sidebar-menu-item-icon-color;
          }

          &.active,
          &.child-active {
            color: $sidebar-menu-item-active-color;
            font-weight: 600;

            svg.my-icon,
            i {
              color: $sidebar-menu-item-active-color;
            }
          }
        }

        .sub-menu {
          overflow: hidden;
          max-height: 0;
          margin-left: 20px;
          transition: max-height 0.3s ease;

          &.open {
            max-height: 500px;
          }

          li a {
            padding: 0.4rem 1.5rem 0.4rem 2rem;
            font-size: 16px;

            ul.sub-menu li a {
              padding-left: 4.5rem;
            }
          }
        }
      }
    }
  }
}

.main-content {
  margin-left: $sidebar-width;
  overflow: hidden;

  .content {
    margin-top: var(--header-height);
    padding: 0 15px 10px;
  }
}

// Responsive
@media (max-width: 992px) {
  .vertical-menu {
    display: none;
  }

  .main-content {
    margin-left: 0;
  }

  body.sidebar-enable .vertical-menu {
    display: block;
  }
}
