//RESPONSIVE
@media (max-width: $small-desktop) {
   .sidebar-vertical-tab {
      display: block;
   }
}

@media (min-width: #{$small-desktop + 1}) {
   .sidebar-vertical-tab {
      display: none;
   }
}
@media (max-width: $small-desktop) {
   .sidebar-vertical-tab {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
   }
}

.sidebar-vertical-tab {
   padding: 0px 0 0px 0 !important;

   ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0px !important;

      li {
         list-style-type: none;
         width: 50%;

         // max-height: 60px;
         // overflow-y: scroll;
         &.mm-active {
            >a {
               &.sb-vertical {
                  border-bottom: 3px solid $main-color;
                  padding: 4px 8px;
                  border-radius: 3px;
               }

            }
         }

         >a {
            justify-content: center;

            &.en {
               font-size: 0.95em !important;
            }
         }
      }
   }
}