.vertical-menu {
  width: $sidebar-width;
  z-index: 1001;
  background: $sidebar-bg;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: var(--header-height);
  box-shadow: $box-shadow;
  padding-top: 20px;
  padding-left: $navbar-brand-margin-left;
  box-shadow: 0px 2px 16px 0px #0000000f;
}

.main-content {
  margin-left: $sidebar-width;
  overflow: hidden;

  .content {
    padding: 0 15px 10px 15px;
    margin-top: var(--header-height);
  }
}

// drop down submenu
#side-menu {
  .sub-menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    margin-left: 20px;
  }

  .sub-menu.open {
    max-height: 500px;
  }

  a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: #444;
    border-radius: 6px;
    transition:
      background 0.2s,
      color 0.2s;
  }

  a.active {
    color: $main-color !important;

    i {
      color: $main-color;
    }
  }

  a.child-active {
    color: $main-color;
    font-weight: 600;

    i {
      color: $main-color;
    }
  }
}
// menu
#sidebar-menu {
  padding: 10px 0 30px 0;
  .mm-active {
    color: $sidebar-menu-item-active-color !important;

    > a {
      &.sb-horizontal {
        border-left: 3px solid $main-color;
        padding: 4px 8px;
        border-radius: 3px;
      }

      color: $sidebar-menu-item-active-color !important;

      i {
        color: $sidebar-menu-item-active-color !important;
      }
    }

    .active {
      // sidebar-item ***************
      font-weight: 600;
      font-size: 17px;
      color: $sidebar-menu-item-active-color !important;

      i {
        color: $sidebar-menu-item-active-color !important;
      }
    }

    > i {
      color: $sidebar-menu-item-active-color !important;
    }
  }

  ul {
    li {
      a {
        // sidebar-item ***************
        // display: block;
        display: flex;
        align-items: center;
        color: $sidebar-menu-item-color;
        position: relative;
        font-size: 17px;
        transition: all 0.4s;
        font-family: 'Pretendard';
        // line-height: 32px;
        letter-spacing: 0px;
        margin-bottom: 15px;
        text-decoration: none !important;

        img {
          height: 20px;
          width: 20px;
          margin-right: 10px;
        }

        i {
          display: inline-block;
          min-width: 1.75rem;
          padding-bottom: 0.125em;
          font-size: 1.25rem;
          line-height: 1.40625rem;
          vertical-align: middle;
          color: $sidebar-menu-item-icon-color;
          transition: all 0.4s;
        }

        &:hover {
          //  color: $sidebar-menu-item-hover-color;

          //  i {
          //    color: $sidebar-menu-item-hover-color;
          //  }
        }
      }

      .badge {
        margin-top: 4px;
      }

      ul.sub-menu {
        padding: 0;
        font-family: 'Pretendard';

        li {
          a {
            padding: 0rem 1.5rem 0rem 2rem;
            font-size: 16px;
            color: $sidebar-menu-sub-item-color;

            &:hover {
              color: $sidebar-menu-item-hover-color;
            }
          }

          ul.sub-menu {
            padding: 0;

            li {
              a {
                padding: 0.4rem 1.5rem 0.4rem 4.5rem;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 11px;
  text-transform: uppercase;
  color: $sidebar-menu-item-icon-color;
  font-weight: $font-weight-semibold;
}

@media (max-width: 992px) {
  .vertical-menu {
    display: none;
  }

  .main-content {
    margin-left: 0 !important;
  }

  body.sidebar-enable {
    .vertical-menu {
      display: block;
    }
  }
}
