<%- include ('../layout/sidebar-vertical') %>

   <div class="common-table-container row" id="answer-container">
      <div class="col-xl-12">
           <div class="row mb-2">
            <div class="col-12">
               <div class="card">
                  <div class="card-body">
                     <div class="d-flex justify-content-end">
                        <button class="btn-common" onclick="gotoCreateAnswer()">Thêm</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="container-table">
                  <div class="table-responsive">
                     <table class="table table-striped">
                        <thead class="table-dark">
                           <tr class="text-center">
                              <th>
                                 <p>STT</p>
                              </th>
                              <th>
                                 <p>Danh mục</p>
                              </th>
                              <th>
                                 <p>Loại</p>
                              </th>
                              <th>
                                 <p>Câu trả lời</p>
                              </th>
                              <th>
                                 <p>Ngày tạo</p>
                              </th>
                              <th>
                                 <p>Người tạo</p>
                              </th>
                               <th>
                                
                              </th>
                           </tr>
                        </thead>
                        <tbody class="body-table"></tbody>
                     </table>
                  </div>
                  <nav>
                     <ul class="pagination" id="privacy-main-pager"></ul>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
      <script src="/js/page-answer.js"></script>
