<%- include ('../layout/sidebar-vertical') %>

   <div class="common-table-container row" id="category-question-container">
      <div class="col-xl-12">
         <div class="row">
            <div class="col-12">
               <div class="container-table">
                  <div class="table-responsive">
                     <table class="table table-striped">
                        <thead class="table-dark">
                           <tr class="text-center">
                              <th>
                                 <p>STT</p>
                              </th>
                              <th>
                                 <p>Tên Danh mục</p>
                              </th>
                              <th>
                                 <p>Ngày tạo</p>
                              </th>
                              <th>
                                 <p>Người tạo</p>
                              </th>
                           </tr>
                        </thead>
                        <tbody class="body-table"></tbody>
                     </table>
                  </div>
                  <nav>
                     <ul class="pagination" id="privacy-main-pager"></ul>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
      <script src="/js/page-category-question.js"></script>
