<!-- css -->
<link rel="stylesheet" href="/css/quill.snow.css" />
<!-- html -->
<div id="editor"><%- content %></div>
<script src="/lib/quill.js"></script>
<script src="/js/component-editor.js"></script>
