<div class="component-upload">
  <p class="title">Danh sách File</p>


  <div class="space-box">
    <div class="file-box"></div>

    <input type="file" id="imgInput" hidden accept=".png, .jpg, .jpeg, .heic" />



    <div class="audio-input-box" style="display: none;">
      <div class="container mt-3">
        <div class="mb-3">
          <label for="audioInputFree" class="form-label fw-semibold">Tải audio demo</label>
          <input type="file" class="form-control" id="audioInputFree" accept=".mp3, audio/mpeg" />
        </div>

        <div class="mb-3">
          <label for="audioInputPay" class="form-label fw-semibold">Tải audio đầy đủ</label>
          <input type="file" class="form-control" id="audioInputPay" accept=".mp3, audio/mpeg" />
        </div>
      </div>

      <div class="audio-btn-box">
        <button id="audioAddBtn" class="btn-info">Xác nhận</button>
        <button id="audioCancelBtn" class="btn-error">Hủy</button>
      </div>
    </div>

    <div class="video-input-box" style="display: none;">
      <div class="container mt-3">
        <div class="row mb-3">
          <label for="videoInput" class="form-label fw-semibold">Youtube</label>
          <input type="text" id="videoInput" placeholder="Nhập link video (YouTube)" />

        </div>

        <div class="video-btn-box">
          <button id="videoAddBtn" class="btn-info">Xác nhận</button>
          <button id="videoCancelBtn" class="btn-error">Hủy</button>
        </div>
      </div>

    </div>

    <div class="bottom-button">
      <button class="btn-info-image" id="btnImage">Tải ảnh</button>
      <button class="btn-info-audio" id="btnAudio">Tải audio</button>
      <button class="btn-info-video" id="btnVideo">Thêm video</button>
    </div>
  </div>


</div>


<script src="/js/component-upload.js"></script>