<!-- css -->
<link rel="stylesheet" href="/css/quill.snow.css" />
<!-- html -->
    <div class="common-editor">
        <div id="editor"><%- values.answerContentRaw %></div>

        <div class="bottom-button">
          <button class="btn-common" onclick="getContent()">
            << 
          </button>
        </div>
      </div>
<script src="/js/quill.js"></script>
<script src="/js/component-editor.js"></script>
