<div class="page-login container">
   <div class="box-login">
      <div>
         <h5 class="txt-title">3Fam.ai</h5>
         <!-- <h6 class="txt-subtitle">Hệ thống nhà yến</h6> -->
      </div>
      <div>
         <form class="form-horizontal" autocomplete="off" method="post" id="form-login">
            <div id="error"></div>
            <div class="mb-3">
               <label for="userId" class="form-label label-id">Tài khoản *</label>
               <input type="text" class="form-control" autocomplete="off" name="userId" value="" id="userId" placeholder="Vui lòng nhập tài khoản" />
            </div>

            <div class="mb-3">
               <label for="userPassword" class="form-label label-password">Mật khẩu *</label>
               <div class="input-group auth-pass-inputgroup">
                  <input type="password" class="form-control" autocomplete="new-password" name="userPassword" id="userPassword" value="" placeholder="Vui lòng nhập mật khẩu" />
                  <button type="button" id="password-addon" style="display: none">
                     <!-- <i class="mdi mdi-eye-off-outline"></i> -->
                     <img id="icon-eye-off" src="/images/eye-off.png" />
                     <img id="icon-eye-open" src="/images/eye-open.png" style="display: none" />
                  </button>
               </div>
            </div>
            <div class="mt-3 d-grid">
               <button class="btn btn-light waves-effect waves-light" type="submit" disabled id="btn-login">Đăng nhập</button>
            </div>
         </form>
      </div>
   </div>
   <div class="modal" id="alert-login-modal" tabindex="-1" role="dialog" aria-labelledby="alert-login-modal" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <button type="button" class="close-btn btn" data-bs-dismiss="modal" aria-label="Close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M4.5 4.5L19.5 19.5" stroke="#212529" stroke-width="2" stroke-linecap="round" />
               <path d="M19.5 4.5L4.5 19.5" stroke="#212529" stroke-width="2" stroke-linecap="round" />
            </svg>
         </button>
         <div class="modal-body text-center">
            <p style="display: none" id="alert-login-text"></p>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
         </div>
      </div>
   </div>
</div>
</div>

<script src="/js/page-login.js"></script>

