 <div class="page-main">
      <div class="content-area">
          <div class="main">
            <div class="row sparkboxes mt-3">
              <div class="col-md-3">
                <div class="box box1">
                  <div class="details">
                    <h3 id="totalUser">-</h3>
                    <h4>Tổng khách hàng</h4>
                  </div>
                  <div id="spark1"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box box2">
                  <div class="details">
                    <h3 id="totalUserHome">-</h3>
                    <h4>Tổng nhà yến của khách hàng</h4>
                  </div>
                  <div id="spark2"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box box3">
                  <div class="details">
                    <h3 id="totalGuestConsulation">-</h3>
                    <h4>Tổng yêu cầu đăng ký tư vấn</h4>
                  </div>
                  <div id="spark3"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box box4">
                  <div class="details">
                    <h3 id="totalConsignment">-</h3>
                    <h4>Tổng yêu cầu ký gửi</h4>
                  </div>
                  <div id="spark4"></div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-5">
                <div class="box pretty-shadow mt-3">
                  <div id="radialBarBottom"></div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="box pretty-shadow mt-3">
                  <div id="line-adwords" class=""></div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-5">
                <div class="box pretty-shadow mt-3">
                  <div id="barchart"></div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="box pretty-shadow mt-3">
                  <div id="areachart"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
<script src="/lib/apexcharts.js"></script>
 <script src="/js/page-main.js"></script>
