<%- include ('../layout/sidebar-vertical') %>

<div class="row">
   <div class="col-xl-12">
      <div class="row">
         <div class="col-12">
            <p>heelo word</p>
            </div>
         </div>
      </div>
   </div>
</div>

