<!-- html -->
<div id="page-screen-mutation">
    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="screenName" class="form-label">Tên màn hình</label>
                            <input type="text" class="form-control" id="screenName" name="screenName"
                                value="<%= values.screenData.screenName %>" />
                            <div class="error-message" data-error="screenName"></div>

                        </div>
                        <div class="col-md-9">
                            <label for="screenDescription" class="form-label">Mô tả</label>
                            <input type="text" class="form-control" id="screenDescription" name="screenDescription"
                                value="<%= values.screenData.screenDescription %>" />
                            <div class="error-message" data-error="screenDescription"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="preview">
                <div class="chat-box">
                    <div class="message bot">
                        <div class="bubble" id="content-message">

                        </div>
                    </div>
                </div>
                <div class="bottom-button">

                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="component-editor">
                <%- include('./component-editor', { content: "" }) %>

                    <div class="bottom-button">
                        <button class="btn-info-audio" onclick="renderContentHtml()">
                            Xem trước
                        </button>
                        <button class="btn-submit" onclick="updateScreen()">Lưu</button>
                    </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="contents">
                <p class="title">Danh sách nội dung</p>
                <div class="space-box">


                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const screenData = <%- JSON.stringify(values.screenData) %>;
</script>
<script src="/js/page-screen-mutation.js"></script>
<script src="/js/common-validate.js"></script>