  <div class="upload">
    <p class="title">Danh sách File</p>
    <input type="file" id="fileInput" hidden accept="image/*,audio/*" />
    <div class="space-box">
      <div class="file-list"></div>
      <div class="bottom-button">
        <button class="btn-common" id="uploadBtn">Upload File</button>
      </div>
    </div>
  </div>

<script src="/js/component-upload.js"></script>
