<div class="common-table-container row" id="page-user-homes">
   <div class="col-xl-12">
      <div class="row mb-3">
         <div class="col-12">
            <div class="card">
               <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                     <p class="title-page mb-0">
                        <%= title %>
                     </p>
                     <button id="btn-filter-toggle" class="btn btn-outline-primary btn-sm" type="button"
                        data-bs-toggle="collapse" data-bs-target="#filter-collapse">
                        <span id="filterIcon">
                           <i class="fa fa-chevron-up"></i>
                        </span>
                     </button>

                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- COLLAPSE -->
      <div class="collapse show  mb-3" id="filter-collapse">
         <div class="card py-3">
            <div class="card-body">
               <div class="row g-3 align-items-end">
                  <div class="col-md-3">
                     <label class="form-label">Tên khách hàng</label>
                     <input type="text" class="form-control" id="userName">
                  </div>

                  <div class="col-md-3">
                     <label class="form-label">Số điện thoại</label>
                     <input type="text" class="form-control" id="userPhone">
                  </div>

                  <div class="col-md-3">
                     <label class="form-label">Tỉnh / Thành phố nhà yến</label>
                     <select class="form-select" id="provinceCode">
                        <option value="">-- Chọn tỉnh/thành phố --</option>
                        <% values.provinces.forEach(function(pro) { %>
                           <option value="<%= pro.provinceCode %>">
                              <%= pro.provinceName %>
                           </option>
                           <% }); %>
                     </select>
                  </div>
                  <div class="col-md-3 d-flex align-items-end justify-content-end gap-2">
                     <button class="btn-sub" id="btn-filter-reset">Làm mới</button>
                     <button class="btn-info" id="btn-filter-apply">Tìm kiếm</button>
                  </div>

               </div>

            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-12">
            <div class="container-table">
               <div class="table-responsive">
                  <table class="table table-striped">
                     <thead class="table-dark">
                        <tr tr class="text-center">
                           <th>
                              <p>STT</p>
                           </th>
                           <th>
                              <p>Ảnh nhà yến</p>
                           </th>
                           <th>
                               <p>Tên chủ</p>
                              <p>sở hữu</p>
                           </th>
                           <th>
                              <p>Tên/ Địa chỉ</p>
                              <p>nhà yến</p>
                           </th>
                           <th>
                              <p>Diện tích</p>
                              <p>số tầng</p>
                           </th>
                           <th>
                              <p>Tích hợp</p> 
                              <p>độ ẩm/ nhiệt độ</p>
                           </th>
                           <th>
                              <p>Tích hợp</p> 
                              <p>dòng điện</p>
                           </th>
                           <th>
                              <p>Tình trạng</p> 
                              <p>kích hoạt</p>
                           </th>
                           <th ST>
                              <p>Ngày đăng ký</p>
                           </th>
                           <th>
                              <p>Ngày cập nhập</p>
                           </th>
                           <th>

                           </th>
                        </tr>
                     </thead>
                     <tbody class="body-table"></tbody>
                  </table>
               </div>
               <nav>
                  <ul class="pagination" id="privacy-main-pager"></ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- modal trigger-->
<div class="modal common-modal user-home-trigger-modal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-md modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <p class="modal-header-title">Kích hoạt nhà yến</p>
            <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
               <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M4.5 4.5L19.5 19.5" stroke="#212529" stroke-width="3" stroke-linecap="round" />
                  <path d="M19.5 4.5L4.5 19.5" stroke="#212529" stroke-width="3" stroke-linecap="round" />
               </svg>
            </button>
         </div>
         <div class="modal-body">
            <form class="p-3 rounded">
               <input type="hidden" id="userCode" value="">
               <input type="hidden" id="userHomeCode" value="">

               <div class="mb-3">
                  <label for="macId" class="form-label">MAC Id của cảm biến</label>
                  <input type="text" class="form-control" id="macId" name="macId" placeholder="" disabled>
                  <div class="error-message" data-error="macId"></div>
               </div>

               <div class="mb-3">
                  <label for="wifiId" class="form-label">Id của Wifi</label>
                  <input type="text" class="form-control" id="wifiId" name="wifiId" placeholder="wificuatoi">
                  <div class="error-message" data-error="wifiId"></div>
               </div>

               <div class="mb-3">
                  <label for="wifiPassword" class="form-label">Mật khẩu của Wifi</label>
                  <input type="text" class="form-control" id="wifiPassword" name="wifiPassword" placeholder="123456">
                  <div class="error-message" data-error="wifiPassword"></div>
               </div>
            </form>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn-submit">Kích hoạt</button>
         </div>
      </div>
   </div>
</div>

<!-- modal reset-->
<div class="modal common-modal user-home-reset-modal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-md modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <p class="modal-header-title">Kích hoạt nhà yến</p>
            <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
               <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M4.5 4.5L19.5 19.5" stroke="#212529" stroke-width="3" stroke-linecap="round" />
                  <path d="M19.5 4.5L4.5 19.5" stroke="#212529" stroke-width="3" stroke-linecap="round" />
               </svg>
            </button>
         </div>
         <div class="modal-body">
            <form class="p-3 rounded">
               <input type="hidden" id="userCode" value="">
               <input type="hidden" id="userHomeCode" value="">

               <div class="mb-3">
                  <label for="macId" class="form-label">MAC Id của cảm biến</label>
                  <input type="text" class="form-control" id="macId" name="macId" placeholder="" disabled>
                  <div class="error-message" data-error="macId"></div>
               </div>

               <div class="mb-3">
                  <label for="wifiId" class="form-label">Id của Wifi</label>
                  <input type="text" class="form-control" id="wifiId" name="wifiId" placeholder="wificuatoi">
                  <div class="error-message" data-error="wifiId"></div>
               </div>

               <div class="mb-3">
                  <label for="wifiPassword" class="form-label">Mật khẩu của Wifi</label>
                  <input type="text" class="form-control" id="wifiPassword" name="wifiPassword" placeholder="123456">
                  <div class="error-message" data-error="wifiPassword"></div>
               </div>
            </form>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn-submit">Thiết lập lại</button>
         </div>
      </div>
   </div>
</div>
<!-- modal detail-->
<div class="modal common-modal user-home-detail-modal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-md modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <p class="modal-header-title">Chi tiết cảm biến của nhà yến</p>
            <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
               <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M4.5 4.5L19.5 19.5" stroke="#212529" stroke-width="3" stroke-linecap="round" />
                  <path d="M19.5 4.5L4.5 19.5" stroke="#212529" stroke-width="3" stroke-linecap="round" />
               </svg>
            </button>
         </div>
         <div class="modal-body">
            <form class="p-3 rounded">
               <input type="hidden" id="userCode" value="">
               <input type="hidden" id="userHomeCode" value="">

               <div class="mb-3">
                  <label for="macId" class="form-label">MAC Id của cảm biến</label>
                  <input type="text" class="form-control" id="macId" name="macId" disabled>
                  <div class="error-message" data-error="macId"></div>
               </div>

               <div class="mb-3">
                  <label for="wifiId" class="form-label">Id của Wifi</label>
                  <input type="text" class="form-control" id="wifiId" name="wifiId" disabled>
                  <div class="error-message" data-error="wifiId"></div>
               </div>

               <div class="mb-3">
                  <label for="wifiPassword" class="form-label">Mật khẩu của Wifi</label>
                  <input type="text" class="form-control" id="wifiPassword" name="wifiPassword" disabled>
                  <div class="error-message" data-error="wifiPassword"></div>
               </div>
            </form>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
         </div>
      </div>
   </div>
</div>
<script src="/js/common-validate.js"></script>
<script src="/js/page-user-homes.js"></script>