<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <div id="sidebar-menu">
      <ul class="metismenu list-unstyled" id="side-menu">
        <li>
          <a href="/dashboard/question" class="waves-effect sidebar-title sb-horizontal">
            <img src="/images/sidebar-price.png" />
            <span>Danh sách câu hỏi</span>
          </a>
        </li>
        <li>
          <a href="/dashboard/answer" class="sidebar-title sb-vertical">
            <img src="/images/sidebar-price.png" />
            <span>Danh sách câu trả lời</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
