<div class="sidebar-vertical-tab" id="sidebar-menu">
  <ul id="side-menu">
    <li>
      <a href="/dashboard/question" class="sidebar-title sb-vertical">
        <img src="/images/sidebar-price.png" />
        <span>Danh sách câu hỏi</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/answer" class="sidebar-title sb-vertical">
        <img src="/images/sidebar-price.png" />
        <span>Danh sách câu trả lời</span>
      </a>
    </li>
  </ul>
</div>
