<div class="sidebar-vertical-tab" id="sidebar-menu">
  <ul id="side-menu">
    <li>
      <a href="/dashboard/question/list" class="sidebar-title sb-vertical">
       <i class="far fa-caret-square-right"></i>
        <span>Danh sách câu hỏi</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/answer/list" class="sidebar-title sb-vertical">
       <i class="far fa-caret-square-right"></i>
        <span>Danh sách câu trả lời</span>
      </a>
    </li>
     <li>
      <a href="/dashboard/home/list" class="sidebar-title sb-vertical">
       <i class="far fa-caret-square-right"></i>
        <span>Danh sách nhà yến</span>
      </a>
    </li>
     <li>
      <a href="/dashboard/home-submit/list" class="sidebar-title sb-vertical">
       <i class="far fa-caret-square-right"></i>
        <span>Danh sách đăng ký tham quan</span>
      </a>
    </li>
  </ul>
</div>
