<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <div id="sidebar-menu">
      <ul class="metismenu list-unstyled" id="side-menu">
        <li>
          <a href="javascript: void(0);" class="waves-effect sidebar-title sb-horizontal">
            <span><i class="far fa-caret-square-right"></i>Q&A</span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li><a href="/dashboard/question/list">Câu hỏi</a></li>
            <li>
              <a href="/dashboard/answer/list">Câu trả lời</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="/dashboard/category/list" class="sidebar-title sb-horizontal">
            <span><i class="far fa-caret-square-right"></i>Danh mục</span>
          </a>
        </li>
          <li>
          <a href="/dashboard/blog/list" class="sidebar-title sb-horizontal">
            <span><i class="far fa-caret-square-right"></i>Bài viết - Blog</span>
          </a>
        </li>

          <li>
          <a href="javascript: void(0);" class="waves-effect sidebar-title sb-horizontal">
            <span><i class="far fa-caret-square-right"></i>Nhà yến</span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li><a href="/dashboard/home/list">Danh sách nhà yến</a></li>
            <li>
              <a href="/dashboard/home-submit/list">Phiếu tham quan</a>
            </li>
          </ul>
        </li>

        
      </ul>
    </div>
  </div>
</div>