<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <div id="sidebar-menu">
      <ul class="metismenu list-unstyled" id="side-menu">
        <li>
          <a
            href="javascript: void(0);"
            class="waves-effect sidebar-title sb-horizontal"
          >
            <span><i class="fas fa-caret-square-down"></i>Danh sách câu hỏi</span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li><a href="/dashboard/question/list">Câu hỏi</a></li>
            <li>
              <a href="/dashboard/question/category">Danh mục</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="/dashboard/answer/list" class="sidebar-title sb-horizontal">
            <span><i class="fas fa-caret-square-down"></i>Danh sách câu trả lời</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
